@import "/styles/mixin.scss";

.videoPlayer {
  display: flex;

  &__thumb {
    width: 100%;
    height: auto;
    display: block;
  }

  @media (max-width: 980px) {
    &__thumb {
      aspect-ratio: 4/3;
      object-fit: cover;
    }
  }
}
.videoIFrame {
  @include desktop {
    height: 100vh;
  }
  @include mobile {
    height: 50vh;
  }
}
