.navbar {
  top: 0px;
  position: fixed;
  height: 76px;
  font-family: "Montserrat";
  line-height: 23px;
  font-weight: 500;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  z-index: 99;
  transition: background-color 0.4s, color 0.4s, transform 0.4s,
    opacity 0.4s ease-in-out, -webkit-transform 0.4s;

  .navbar {
    &__container {
      position: relative;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    &__logo {
      flex: 1;
      display: flex;
      transition: all 0.4s ease-in-out;
      white-space: nowrap;
    }

    &__items {
      flex: 2;
      display: flex;
      justify-content: flex-end;

      &__horizontal {
        ul {
          display: flex;
          justify-content: space-between;
          list-style-type: none;

          li {
            display: inline-block;
            padding-right: 10px;
            line-height: 1em;

            a {
              font-weight: 550;
              text-decoration: none;
              font-size: 16px;
              color: #000000;
              display: block;
              position: relative;
              white-space: nowrap;
            }

            a:hover {
              opacity: 0.7;
              transition: all 0.4s ease-in-out;
            }
          }

          li:not(:last-child) {
            margin-right: 15px;
          }
        }
      }

      &__listWrapper {
        max-height: 0;
        transition: max-height 0.4s ease-in;
        overflow: hidden;
      }

      &__listWrapper__active {
        max-height: 222px;
        transition: max-height 0.4s ease-in;
        overflow: hidden;
      }

      &__listWrapper,
      &__listWrapper__active {
        position: absolute;
        background: #fff;
        top: 63px;
        visibility: visible;
        padding: 0;
        border-top: 1px solid #d3d3d3 !important;
        box-shadow: none;
        left: -12.5%;
        right: -12.5%;
        width: auto;

        li {
          visibility: visible;

          a {
            color: #555555;
            padding: 10px 10%;
            border-bottom: 1px solid #d3d3d3;
            display: block;
            font-size: 14px;
            text-align: left;
          }

          a,
          a:hover {
            text-decoration: none;
          }
        }
      }

      @media (min-width: 981px) {
        &__vertical {
          display: none;
        }
      }

      @media (max-width: 980px) {
        &__horizontal {
          display: none;
        }
      }
    }

    &__hamburger {
      display: block;
      cursor: pointer;
    }

    @media (min-width: 981px) {
      &__hamburger {
        display: none;
      }
    }

    @media (min-width: 981px) {
      &__container {
        width: 100%;
        max-width: 100%;
        padding: 0 65px;
      }
    }

    @media (max-width: 980px) {
      &__container {
        width: 85%;
      }
    }
  }
}

@media (max-width: 980px) {
  .navbar {
    max-width: 1260px;
    height: 79px;
  }
}
