.images {
  width: 100%;
  padding: 10px;

  img {
    max-width: 85%;
  }

  &__slideshow {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;

    img {
      max-width: 10%;
    }
  }
}
