@import "styles/mixin";

.productRecommend {
  @include desktop {
    width: 60%;
    margin: 0 auto;
  }
  text-align: center;

  h2 {
    font-family: "Eleganto Sans";
    font-weight: 600;
    font-size: 30px;
  }

  &__slideshow {
    display: flex;
    justify-content: center;
    gap: 30px;

    @include desktop {
      h2 {
        font-size: 20px;
      }
    }
  }

  &__imgWrapper {
    border: 4px solid black;
    aspect-ratio: 1/1;
  }

  &__arrowWrapper {
    width: 20px;
    cursor: pointer;
  }

  @include desktop {
    &__imgWrapper {
      width: 100%;
    }
  }
  &__relatedProductName {
    cursor: pointer;
    font-family: "Eleganto Sans";
    font-weight: 500;
  }
}
