@import "styles/mixin";
.productDetail {
  width: 100%;
  margin-top: 76px;
  background-color: #f2f2f3;
  padding: 20px 0 45px;
  @include mobile {
    padding: 15px;
  }

  &__filterButtonWrapper {
    h4 {
      font-weight: 300;
      font-size: 12px;
      padding: 0 30px;
      margin: 0;
      margin-bottom: 10px;
    }
  }

  &__content {
    display: flex;
  }

  &__filterBarWrapper {
    flex: 1;
  }

  &__productListWrapper {
    flex: 3;
  }

  @media (max-width: 980px) {
    &__filterBarWrapper {
      display: none;
    }

    &__content {
      flex-direction: column;
    }
  }

  @media (min-width: 980px) {
    &__filterButtonWrapper {
      display: none;
    }
  }
}
