.mobileContent {
  width: 100%;
  font-family: "Montserrat";
  text-align: left;
  font-weight: 500;

  &__name {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
  }

  &__productCode {
    margin-bottom: 25px;
    font-size: 13px;
  }

  &__buttonWrapper {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }

  &__orderContactButton {
    font-size: 13px;
    padding: 13px 25px;
    border: 2px solid lightgrey;
    background-color: #ffffff;
  }

  &__additionalRequire {
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
  }

  &__aboutUsDetail,
  &__productDescription,
  &__productDetail {
    font-size: 15px;
    font-weight: 400;
  }

  &__productDescription {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: justify;
  }

  &__aboutUsDetail {
    text-align: justify;
  }

  &__break {
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 25px;
  }

  &__sectionTitle {
    font-size: 13px;
    font-weight: 600;
  }

  ul {
    padding: 0 15px;
  }
}
