.footer {
  padding: 50px 65px 10px;
  font-family: "Eleganto Sans";

  &__site {
    display: flex;
    justify-content: space-around;

    ul {
      flex: 1 1 35%;
      list-style-type: none;
      text-align: left;
      margin: 0;
      padding: 0;

      li {
        font-size: 17px;
        line-height: 1.75rem;
        font-weight: 600;
      }
    }

    p {
      flex: 1 1 30%;
      text-align: left;
      font-size: 20px;
      padding-right: 6%;
      margin: 0;

      span {
        font-weight: 500;
      }
    }
  }

  &__quote {
    text-align: left;
    flex: 1 1 35%;
    font-size: 27px;
    font-weight: 600;
  }

  &__brandName {
    color: #299390;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    &__brandName {
      text-align: left;
      flex: 1 1 35%;
      font-size: 45px;
      font-weight: 500;
    }

    p {
      flex: 1 1 35%;
      padding-right: 6%;
      text-align: left;
      font-weight: 600;

      span {
        color: #2a9390;
      }
    }

    ul {
      flex: 1 1 30%;
      list-style-type: none;
      text-align: left;
      padding: 0;

      li {
        font-size: 16px;
        line-height: 1.75rem;
        font-weight: 600;
      }
    }
  }

  &__copyright {
    display: flex;
    align-self: flex-start;
    margin-top: 35px;
    font-size: 10px;
    font-weight: 600;
  }

  @media (max-width: 980px) {
    &__container {
      width: 85%;
      margin: 0 auto;
    }

    &__site,
    &__info {
      flex-direction: column;
    }

    &__site {
      p {
        flex: 1;
        margin: 50px 0 auto;
        text-align: justify;
        padding: 0;
      }

      ul {
        li {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }

    &__quote {
      text-align: center;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 60px;
    }

    &__info {
      p {
        order: 1;
        text-align: justify;
        font-weight: 400;
      }

      ul {
        order: 3;
        margin-top: 30px;

        li {
          font-size: 13px;
          line-height: 1.75rem;
          font-weight: 400;
        }
      }

      &__brandName {
        order: 2;
        margin-top: 30px;
        font-size: 32px;
      }
    }
  }
}

@media (max-width: 980px) {
  .footer {
    width: 100%;
    padding: 50px 0 10px;
  }
}
