.subscsribe {
  width: 100%;
  margin-top: 40px;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    border: 0;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
  }

  input::placeholder {
    font-family: "Montserrat";
    text-align: center;
    color: #c3c3c3;
  }

  input:focus {
    outline: none;
  }

  &__horizontalLine {
    width: 35%;
    border-top: 0.5px solid;
    margin: 10px 0;
  }

  &__button {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
  }

  &__arrowWrapper {
    width: 10px;
    margin-left: 6px;
    display: flex;
  }

  @media (max-width: 980px) {
    input {
      font-size: 11px;
    }

    &__horizontalLine {
      width: 55%;
      margin: 4px 0;
    }

    &__button {
      font-size: 10px;
      margin-top: 3px;
    }
  }
}
