@import "styles/mixin.scss";
.aboutUs {
  width: 100%;
  height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1260px;
    text-align: left;
    direction: ltr;
    width: 75%;
    margin: auto;
    font-family: "Eleganto Sans";
    color: white;

    @media (min-width: 981px) {
      h2 {
        width: 40%;
        margin-top: 0;
        margin-right: 5.5%;
        margin-bottom: 7.493%;
        font-size: 40px;
        letter-spacing: 0.2px;
        line-height: 1.25em;
      }
    }

    @media (max-width: 980px) {
      h2 {
        margin-bottom: 30.493%;
        font-size: 25px;
      }
    }
  }

  &__brandName {
    font-weight: 500;
  }

  &__brandBusiness {
    font-weight: 500;
    color: #299390;
  }

  &__moreBtn {
    cursor: pointer;
    display: flex;
    transition: all 300ms ease 0ms;

    &__arrow {
      content: "";
      margin-left: 10px;
      width: 42px;
      height: 8px;
      display: block;
      transform: translate3d(0, -50%, 0) rotate(180deg);
      background: url(../../assets/svg/arrow.svg) left center no-repeat;
      background-size: 42px auto;
      filter: invert(32%) sepia(7%) saturate(24%) hue-rotate(316deg)
        brightness(92%) contrast(82%);
    }
  }

  &__brandWrapper {
    transition: ease-in 0.8s;
  }

  &__background {
    background-image: url("../../assets/img/home_background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    @include mobile {
      background-position: right;
    }
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    // transform: translateZ(-10px) scale(2);
  }

  @media (min-width: 981px) {
    &__container {
      padding: 1.5% 0;
    }

    &__moreBtn {
      &__arrow {
        align-self: end;
      }
    }
  }

  @media (max-width: 980px) {
    &__container {
      padding: 3% 7%;
      width: 100%;
      margin: 0;
    }

    &__moreBtn {
      cursor: pointer;
      display: flex;
      font-size: 17px;
      align-items: baseline;

      &__arrow {
        content: "";
        margin-left: 10px;
        width: 42px;
        height: 8px;
        display: block;
        transform: translate3d(0, -50%, 0) rotate(180deg);
        background: url(../../assets/svg/arrow.svg) left center no-repeat;
        background-size: 42px auto;
        filter: invert(32%) sepia(7%) saturate(24%) hue-rotate(316deg)
          brightness(92%) contrast(82%);
      }
    }
  }
}
