.detail {
  font-family: "Eleganto Sans";
  padding: 170px 150px;
  padding-right: 250px;
  text-align: left;

  &__location {
    font-size: 17px;
    margin-bottom: 50px;
  }

  &__introduction {
    font-size: 35px;
    word-spacing: 5px;

    &__yellow {
      color: #f2c480;
    }
  }

  @media (max-width: 980px) {
    &__location {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    &__introduction {
      font-weight: 500;
      font-size: 20px;
      word-spacing: 3px;
    }
  }
}

@media (max-width: 980px) {
  .detail {
    padding: 40px 30px;
  }
}
