.productHeader {
  margin-top: 76px;
  padding: 2% 0;
  background-color: #f2f2f3;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 1260px;
    margin: 0;
    font-family: "Eleganto Sans";
  }

  &__paragraphWrapper {
    max-width: 600px;
    text-align: center;
    animation-timing-function: linear;
    animation-duration: 0.2s;
    position: relative;

    h1 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 60px;
      line-height: 0.9em;
    }

    p {
      font-size: 21px;
    }

    @media (max-width: 980px) {
      h1 {
        font-size: 30px;
      }

      p {
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 980px) {
  .productHeader {
    margin-top: 79px;
    padding: 10% 0;
  }
}
