.collectionDetail {
  width: 100%;
  margin-top: 76px;
  background-color: #f2f2f3;

  &__carouselWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 25px 0;
  }

  &__contentWrapper {
    display: flex;
    font-family: "Eleganto Sans";
    max-width: 100%;
    overflow: hidden;
  }

  &__imgCarousel {
    display: flex;
    font-family: "Eleganto Sans";
  }

  &__imgCarousel {
    &__imageWrapper,
    &__carouselWrapper {
      width: 50%;
    }

    &__carouselWrapper {
      padding: 155px;
    }
  }

  &__carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 70%;
    padding-top: 60px;
    width: 100%;

    &__navigation {
      width: 70%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__contact {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 980px) {
    &__contentWrapper {
      div {
        table {
          tbody {
            tr {
              display: flex;
              flex-direction: column;

              td {
                width: 100% !important;
                padding: 30px;

                img {
                  max-width: 100%;
                }
              }
            }
          }
        }
      }
    }

    &__imgCarousel {
      flex-direction: column;

      &__imageWrapper,
      &__carouselWrapper {
        width: 100%;
      }

      &__carouselWrapper {
        padding: 20px 30px;
      }
    }

    &__carousel {
      padding: 0 25px;

      &__navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      &__image {
        img {
          width: 100%;
          aspect-ratio: 1;
        }
      }
    }
  }
}
