@import "react-responsive-carousel/lib/styles/carousel.min.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Montserrat,
    Eleganto Sans, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Eleganto Sans";
  font-weight: 300;
  src: local("Eleganto Sans"),
    url(../assets/fonts/ElegantoSans/ElegantoSans-Thin.ttf);
}

@font-face {
  font-family: "Eleganto Sans";
  font-weight: 400;
  src: local("Eleganto Sans"),
    url(../assets/fonts/ElegantoSans/ElegantoSans-Light.ttf);
}

@font-face {
  font-family: "Eleganto Sans";
  font-weight: 500;
  src: local("Eleganto Sans"),
    url(../assets/fonts/ElegantoSans/ElegantoSans-Regular.ttf);
}

@font-face {
  font-family: "Eleganto Sans";
  font-weight: 600;
  src: local("Eleganto Sans"),
    url(../assets/fonts/ElegantoSans/ElegantoSans-Medium.ttf);
}

@font-face {
  font-family: "Eleganto Sans";
  font-weight: 700;
  src: local("Eleganto Sans"),
    url(../assets/fonts/ElegantoSans/ElegantoSans-Bold.ttf);
}

@font-face {
  font-family: "Eleganto Sans";
  font-weight: 800;
  src: local("Eleganto Sans"),
    url(../assets/fonts/ElegantoSans/ElegantoSans-Black.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
      format("truetype");
}
